config.h
config.log
config.status
config.h.in~
stamp-h1
Makefile
src/Makefile
doc/Makefile
tests/Makefile
a.out.dSYM
autom4te.cache
src/.deps
doc/xtermcontrol.1
*.o
src/xtermcontrol
tests/xtermcontrol.sh
